@import "@tailwindcss/postcss/preflight";
@import "@tailwindcss/postcss/utilities";

:root {
  --background: #ffeadd;
  --foreground: #000000;
  --primary: #ff6b00;
  --secondary: #050022;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
}

